*{
    margin: 0;
    padding: 0;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    box-sizing: border-box;
}

.text-center{
    text-align: center;
    margin-block: 20px;
}

.center {
    text-align: center;
}

a{
    color: dodgerblue;
    text-decoration: none;
}

.press{
    transition: 100ms transform;
}

.press:active{
    transform: scale(0.97);
}
.highlight {
    color: slateblue;
}
